body {
  margin: 0;
  box-sizing: border-box;
}

main {
  background: linear-gradient(to bottom, #fcc257 50%, white 50%);
}

.email-card {
  padding: 40px 32px;
  width: 560px;
  box-shadow: -2px 4px 24px 0px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
}

.separator {
  width: 320px;
  height: 2px;
  background-color: rgba(243, 242, 242, 1);
}

button {
  background: linear-gradient(
    to right,
    rgba(253, 201, 99, 1),
    rgba(245, 165, 36, 1)
  );
  border-radius: 16px;
  border: none;
  padding: 18px 0;
  max-width: 235px;
  width: 100%;
  font-size: 18px;
}

footer {
  padding: 53px 0;
}

.bg-white {
  background-color: white;
}
.bg-grey {
  background-color: #f3f2f2;
}
.bg-yellow {
  background-color: #fcc257;
}

.fw-400 {
  font-weight: 400;
}

.fw-500 {
  font-weight: 500;
}

.fw-700 {
  font-weight: 700;
}


td {
  font-family: "Karla", serif;
  text-align: center;
  color: rgba(71, 70, 67, 1);
  letter-spacing: -0.5px;
}

.logo {
  max-width: 180px;
  width: 100%;
}

.montserrat-font {
  font-family: "Montserrat", serif;
}

table {
  margin: 0 auto;
}

.p-60 {
  padding: 60px 0;
}

.pb-24 {
  padding-bottom: 24px;
}

.pb-42 {
  padding-bottom: 42px;
}

.pb-16 {
  padding-bottom: 16px;
}

.fs-14 {
  font-size: 14px;
  line-height: 16.8px;
}

.fs-18 {
  font-size: 18px;
  line-height: 21px;
}

.fs-22 {
  font-size: 22px;
  line-height: 26px;
}

.fs-24 {
  font-size: 24px;
  line-height: 29.26px;
}

.mb-60 {
  margin-bottom: 60px;
}

.m-auto {
  margin: 0 auto;
}

.text-center {
  text-align: center;
}

.color-black {
  color: black;
}
